:root{

    --primary-color: #ee4d2d;
    --white-color: #ffffff;
    --back-color: black;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 40.2px;
    --header__sofr-bar: 46px;
    --header-height: 120px;
    --star-color: #ffce3e;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}