.slider{
    margin-top: 11px;
    height:600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider__text{
    position: absolute;
    height:600px;
    width: 100%;
}

.slider__text-heading{
    position: absolute;
    color: rgb(68, 65, 65);
    left:10%;
    top: 50%;

}
.slider__text-heading h1{
    font-size: 4rem;
    font-weight: 200;

}
.slider__text-heading p{
    font-size: 2rem;
    font-weight: 200;

}

.slider__img{
    display:block;
    width: 100%;
    align-items: center;
    text-align: center;
}

.slider-bot{
    margin-top: 11px;
    height:200px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}


.slider-bot__img{
    display:block;
    width: 100%;
    padding : 10px;
    border-radius: 6px;

    
}
.slider__text-des{
    position: absolute;
    left: 10%;
    top: 50%;
}
.slider__bot-text{
    background-image: url('../asset/img/map.jpg');
    height:200px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.slider__bot-text:hover{
    color: rgb(255, 0, 0);
    opacity: 0.8;
}
.product__heading h2{
    font-size:20px;
    line-height:20px;
    padding-left: 10px;
}
